.dropdown-menu button:hover {
    text-decoration: none;
    background: linear-gradient(135deg, rgb(223, 223, 223) 0%, #CED4DA 100%);
  }
.dropdown .border {
  border-bottom: rgb(230, 230, 230) solid 1px;
  
}